#content{
    content: "";
    display: block;
    clear: both;
    height: 100%;
}
#game-div{

}
#joystick-div{
    height: 220px;
}

div{
    float:left;
    height:100%;
    padding:0 0px;
}

body{
    background: white;
}